@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";

}


<div class="h1 text-center">
    <h1><i class="fas fa-user-lock"></i> Access to this page is restricted</h1>
    <p>Please check with the site admin if you believe this is a mistake.</p>
</div>
