@model MergeRepoCreate


@{
    ViewData["Title"] = "New Repository";
}
<link rel="stylesheet" href="~/temp/plugins/summernote/summernote-bs4.css">

@section contentHeader {
    
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>New Repository</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">Reposiotry</li>
                    <li class="breadcrumb-item active">New Repository</li>
                </ol>
            </div>
        </div>
    
}


<form asp-action="Create" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">
                        Repository Details
                    </h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="repository.Title" class="control-label"></label>
                                <input asp-for="repository.Title" class="form-control" />
                                <span asp-validation-for="repository.Title" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="repository.Description" class="control-label"></label>
                                @*<textarea asp-for="repository.Description" class="textarea" placeholder="Journal Description"
                                    style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>*@
                                <textarea id="summernote" asp-for="repository.Description"></textarea>
                                <span asp-validation-for="repository.Description" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Publish Date</label>
                                <input asp-for="repository.PublishDate" class="form-control" type="date" />
                                <span asp-validation-for="repository.PublishDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Journal Language</label>
                                <div class="select2-primary">
                                    <select asp-for="langCode" class="form-control select2" multiple="multiple" data-placeholder="Select Language" asp-items="ViewBag.Lang"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Author</label>
                                        <div class="select2-primary">
                                            <select asp-for="authorIds" class="select2bs4" asp-items="ViewBag.AuthorId" style="width: 100%" ; multiple="multiple" data-placeholder="Select Author"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Advisior</label>
                                        <div class="select2-primary">
                                            <select asp-for="advisiorIds" class="form-control select2bs4" asp-items="ViewBag.Advisior" style="width: 100%" ; multiple="multiple" data-placeholder="Select Advisior"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="repository.Publisher" class="control-label"></label>
                                <select asp-for="repository.Publisher" class="form-control select2bs4" asp-items="ViewBag.Publisher"></select>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">
                        Repository Collection
                    </h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Communities</label>
                                <select class="form-control select2bs4" asp-items="ViewBag.Coll" id="Communiti" asp-for="repository.CommunitiyId">
                                    <option value="" selected>--Select Community--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Type</label>
                                <select asp-for="repository.RefCollectionId" class="form-control select2bs4" asp-items="ViewBag.CollType">
                                    <option value="" selected>--Select Type--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Collection</label>
                                <select class="form-control select2bs4" id="Collection" asp-for="repository.CollectionDid" asp-items="ViewBag.Collection"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">
                        Repository File
                    </h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputFile">Full Text File</label>
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" id="exampleInputFile" multiple class="custom-file-input" accept="application/pdf" name="files" />
                                    <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
        <div class="mb-3 col-md-6">
            <a class="btn btn-danger" asp-action="Index"><i class="fas fa fa-times-circle"></i> Cancel</a>
            <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Submit</button>
        </div>
    </div>
</form>
<script src="~/temp/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
@*<script src="~/temp/plugins/summernote/summernote-bs4.min.js"></script>*@
<script>
    $(document).ready(function () {
        $("#repository_RefCollectionId").change(function () {
            var rcollid = $(this).val();
            var actionurl = "@Url.ActionLink(action:"CollectRes", protocol:"https")";

            $.ajax({
                type: "GET",
                url: actionurl + "?refcollId=" + rcollid ,
                contentType: "html",
                success: function (response) {
                    $("#Collection").empty();
                    $("#Collection").append(response);
                }
            })

        })

        $('#summernote').summernote()
    })

    $(document).on('submit', 'form', function () {
        displayBusyIndicator();
    });

    $(function () {
        bsCustomFileInput.init();
    });
</script>
@section Scripts{
    @{
        <script src="~/temp/plugins/summernote/summernote-bs4.min.js"></script>
        <partial name="_ValidationScriptsPartial.cshtml" />
    }
}